<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.TestToPaperMapper">
	
	<!-- Test Begin -->
	<delete id="deleteTest" parameterType="int">
		DELETE FROM test
		WHERE test_no = #{testNo}
	</delete>
	
	<insert id="insertTest" parameterType="goodee.gdj58.online.vo.Test">
		INSERT INTO test (
			test_title
			, test_date
		) VALUES (
			#{testTitle}
			,#{testDate}
		)
	</insert>
	
	<select id="selectTestList" 
		resultType="goodee.gdj58.online.vo.Test"
		parameterType="java.util.Map">
		
		SELECT
			test_no testNo
			, test_title testTitle
			, test_date testDate
		FROM test
		<where>
			<if test="searchWord != null || searchWord !=''">
				test_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY test_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="cntTestList"
		resultType="int"
		parameterType="java.lang.String">
		
		SELECT COUNT(*) count
		FROM test
		<where>
			<if test="searchWord != null || searchWord !=''">
				test_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>
	<!-- Test End -->
	
	<!-- Question Begin -->
	<delete id="deleteQuestion" parameterType="int">
		DELETE FROM question
		WHERE question_no = #{questionNo}
	</delete>
	
	<insert id="insertQuestion" parameterType="goodee.gdj58.online.vo.Question">
		INSERT INTO question (
			test_no
			, question_idx
			, question_title
		) VALUES (
			#{testNo}
			,#{questionIdx}
			,#{questionTitle}
		)
	</insert>
	
	<select id="selectQuestionList" 
		resultType="goodee.gdj58.online.vo.Question"
		parameterType="java.util.Map">
		
		SELECT
			question_no questionNo
			, test_no testNo
			, question_idx questionIdx
			, question_title questionTitle
		FROM question
		<where>
			test_no = #{testNo}
			<if test="searchWord != null || searchWord !=''">
				AND question_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY question_idx ASC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="cntQuestionList"
		resultType="int"
		parameterType="java.util.Map">
		
		SELECT COUNT(*) count
		FROM question
		<where>
			test_no = #{testNo}
			<if test="searchWord != null || searchWord !=''">
				AND question_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>
	<!-- Question End -->
	
	<!-- Example Begin -->
	<delete id="deleteExample" parameterType="int">
		DELETE FROM example
		WHERE example_no = #{exampleNo}
	</delete>
	
	<insert id="insertExample" parameterType="goodee.gdj58.online.vo.Example">
		INSERT INTO example (
			question_no
			, example_idx
			, example_title
			, example_ox
		) VALUES (
			#{questionNo}
			,#{exampleIdx}
			,#{exampleTitle}
			,#{exampleOx}
		)
	</insert>
	
	<select id="selectQuestionAndExample"
		parameterType="int"
		resultType="java.util.Map">
		
		SELECT
			q.question_no questionNo
			, q.test_no testNo
			, q.question_idx questionIdx
			, q.question_title questionTitle
			, e.example_no exampleNo
			, e.example_idx exampleIdx
			, e.example_title exampleTitle
			, e.example_ox exampleOX
		FROM question q INNER JOIN example e 
		ON e.question_no = q.question_no
		WHERE q.question_no = #{questionNo}
	</select>
	
	<select id="selectExampleList" 
		resultType="goodee.gdj58.online.vo.Example"
		parameterType="java.util.Map">
		
		SELECT
			example_no exampleNo
			, question_no questionNo
			, example_idx exampleIdx
			, example_title exampleTitle
			, example_ox exampleOx
		FROM example
		<where>
			question_no = #{questionNo}
			<if test="searchWord != null || searchWord !=''">
				AND example_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY example_idx ASC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="cntExampleList"
		resultType="int"
		parameterType="java.util.Map">
		
		SELECT COUNT(*) count
		FROM example
		<where>
			question_no = #{questionNo}
			<if test="searchWord != null || searchWord !=''">
				AND example_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>
	<!-- Example End -->
	
	<!-- Paper Begin -->
	<select id="selectTestForStudent" 
		resultType="goodee.gdj58.online.vo.QuestionAndExample"
		parameterType="java.util.Map">
		
		SELECT
			e.example_no exampleNo
			, e.question_no questionNo
			, e.example_idx exampleIdx
			, e.example_title exampleTitle
			, e.example_ox exampleOx
			, q.question_idx questionIdx
			, q.question_title questionTitle
			, q.test_no testNo
		FROM example e
			INNER JOIN question q
			ON e.question_no = q.question_no
		WHERE q.test_no = #{testNo}
		ORDER BY question_idx ASC
	</select>
	
	<select id="selectPaper" 
		resultType="goodee.gdj58.online.vo.QuestionAndExample"
		parameterType="java.util.Map">
		
		SELECT
			e.example_no exampleNo
			, e.question_no questionNo
			, e.example_idx exampleIdx
			, e.example_title exampleTitle
			, e.example_ox exampleOx
			, q.question_idx questionIdx
			, q.question_title questionTitle
			, q.test_no testNo
		FROM example e
			INNER JOIN question q
			ON e.question_no = q.question_no
		WHERE question_no = #{questionNo}
		ORDER BY example_idx ASC
	</select>
	<!-- Paper End -->
</mapper>